.worksBlock{
    min-height: 100vh;
    background-color: #dcdedc;
    display: flex;
    align-items: center;
}

.containerWorks{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #bbbdbe;
    padding: 5px;
    font-size: 28px;
}
.workItem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}